@{
    ViewBag.Title = "SportEventList";
}
@using Fitbourhood.Dictionaries
@model Fitbourhood.Models.SportEventListViewModel
<div id="filter-panel">
    @using (Html.BeginForm("SportEventListFiltered", "SportEvent", FormMethod.Post))
    { 
        <div class="input-group discipline ml-2 mt-2 mr-2 mb-2" style="width: 250px; float: left;">
            @Html.DropDownListFor(m => m.DDiscipline, ViewBag.EnumDDisciplineList as SelectList,new { @class = "form-control" })
            @Html.HiddenFor(m => m.DDiscipline)
        </div>
        <div class="input-group date ml-2 mt-2 mr-2 mb-2" style="width: 250px; float: left;">
            @Html.TextBoxFor(m => m.EventDate, new { @class = "form-control", placeholder = "Wybierz dzień..."})
            @Html.HiddenFor(m => m.EventDate)
            <span class="input-group-addon icon-span"><i class="fas fa-calendar"></i></span>
        </div>
        <div class="input-group clockpicker ml-2 mt-2 mr-2 mb-2" style="width: 250px; float: left;">
            @Html.TextBoxFor(m => m.EventTime, new { @class="form-control", placeholder = "Wybierz godzinę..."})
            @Html.HiddenFor(m => m.EventTime)
            <span class="input-group-addon icon-span"><i class="fas fa-clock"></i></span>
        </div>
        <div class="button-container">
            <input type="submit" class="btn btn-warning ml-2 mt-2 mr-2 mb-2" value="Szukaj" style="float: left; width: 120px;"/>
            @Html.ActionLink("Utwórz", "SportEvent", "SportEvent", new { @class = "btn btn-success ml-2 mt-2 mr-2 mb-2", style = "float: left; width: 120px;" })
        </div>
    }
</div>
@if (ViewBag.SuccessMessages != null)
{
    <div class="alert alert-success"><strong>@ViewBag.SuccessMessages</strong></div>
}
@if (ViewBag.ErrorMessages != null)
{
    foreach (var message in ViewBag.ErrorMessages)
    {
        <div class="alert alert-danger"><strong>@message</strong></div>
    }
}
@if (Model != null)
{
    if (Model.SportEventList.Any())
    {
        foreach (var sportEvent in Model.SportEventList)
        {
        <div class="sport-event-container" sport-event-id="@sportEvent.ID">
            @if (sportEvent.DDisciplineID == (int)DDiscipline.Basketball)
            {
                <img src="~/Content/Images/basketball-128.png" class="sport-event-img" />
            }
            else if (sportEvent.DDisciplineID == (int)DDiscipline.Cycling)
            {
                <img src="~/Content/Images/man-cycling-128.png" class="sport-event-img" />
            }
            else if (sportEvent.DDisciplineID == (int)DDiscipline.Running)
            {
                <img src="~/Content/Images/running-128.png" class="sport-event-img" />
            }
            else if (sportEvent.DDisciplineID == (int)DDiscipline.Soccer)
            {
                <img src="~/Content/Images/soccer-ball-128.png" class="sport-event-img" />
            }
            else if (sportEvent.DDisciplineID == (int)DDiscipline.Volleyball)
            {
                <img src="~/Content/Images/volleyball-128.png" class="sport-event-img" />
            }
            else
            {
                <img src="~" class="sport-event-img" />
            }
            <div class="sport-event-info-col1">
                <span class="sport-event-info-label">Lokalizacja: </span> <span class="sport-event-info">@sportEvent.Address</span>
                <br />
                <span class="sport-event-info-label">Data: </span> <span class="sport-event-info">@sportEvent.Date</span>
                <br />
                <span class="sport-event-info-label">Godzina: </span> <span class="sport-event-info">@sportEvent.Time</span>
            </div>
        </div>
        }

    }
    else
    {
        <span>Obecnie nie są utworzone żadne wydarzenia sportowe.</span>
    }
}
<script>
    $(document).ready(function (){
        $('.clockpicker').clockpicker({
            donetext: 'Zatwierdź',
            'default': 'now'
        });

        $('.input-group.date').datepicker({
            language: "pl",
            format: "yyyy-mm-dd",
            orientation: "bottom auto",
            clearBtn: true,
            autoclose: true,
            todayHighlight: true
        });
    });

    $('.sport-event-container').on('click',
        function() {
            console.log($(this).attr('sport-event-id'));
            $.ajax({
                url: @Html.ActionLink("PreviewSportEvent", "PreviewSportEvent", "SportEvent"),
                type: 'GET',
                data: {id: $(this).attr('sport-event-id')}
            });
        });
</script>