<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/fontello")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
<div class="container body-content">
    <div id="navigation-bar"><i class="fas fa-home" style="float: left;"></i><i class="fas fa-power-off" style="float: right;"></i><i class="fas fa-user" style="float: right;"></i><i class="fas fa-bell" style="float: right;"></i></div>
    <img src="~/Content/Images/logo.png" id="main-logo"/>
    <div id="border-div"></div>
    @RenderBody()
</div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
