<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/font-awesome")
    @Styles.Render("~/Content/fontello")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
<div class="container body-content">
    <div id="navigation-bar"><i class="fas fa-home navigate" style="float: left;" navigate-to="@Url.Action("Index", "SportEvent")"></i><i class="fas fa-power-off navigate" style="float: right;" navigate-to="@Url.Action("Logout", "Home")"></i><i class="fas fa-user navigate" style="float: right;"  navigate-to="@Url.Action("Index", "UserProfile")"></i><i class="fas fa-star navigate" style="float: right;"  navigate-to="@Url.Action("Achievements", "UserProfile")"></i><i id="notifications" class="fas fa-bell" style="float: right; cursor: pointer;"></i></div>
    <img src="~/Content/Images/logo.png" id="main-logo"/>
    <div id="border-div"></div>
    @RenderBody()
</div>
<div id="notificationsContainer">
</div>
    
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)
</body>
</html>

<script>
    $('i.navigate').click(function () {
        var url = $(this).attr('navigate-to');

        if (url !== undefined)
            window.location.href = url;
    });

    $('#notifications').click(function () {
        if ($('#notificationsContainer').is(':visible')) {
            $('#notificationsContainer').css('display', 'none');

        } else {
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                url: "@Url.Action("GetNotifications", "UserProfile")",
                success: function (data) {
                    var length = data.length;
                    if (length > 0) {
                        for (var index = 0; index < length; index++) {
                            var notificationDiv = '<div class="notificationDiv" user-id="' + data[index].UserID + '" sport-event-id="' + data[index].SportEventID + '"><span class="notificationDivDescription">' + data[index].Description +'</span><br/>'+ (data[index].IsApproved ? '' : '<button id="approve-notify" class="btn btn-success mt-2 mr-2 mb-2 notifyButtons">✓</button><button id="reject-notify" class="btn btn-danger mt-2 mr-2 mb-2 notifyButtons">X</button>') + '</div>';
                            $("#notificationsContainer").append(notificationDiv);
                        }
                    }
                }
            });
            $('#notificationsContainer').css('display', 'block');
            $('#notificationsContainer').css('left', $('#notifications').offset().left - 270);
        }
    });

    $(document).on('click', '#approve-notify,#reject-notify', function () {
        var parent = $(this).parent();
        var userId = parent.attr('user-id');
        var sportEventId = parent.attr('sport-event-id');
        var description = parent.find('span').text();
        if (userId != null && userId !== '' && sportEventId != null && sportEventId !== '') {
            $.ajax({
                async: false,
                cache: false,
                type: "POST",
                data: { userId, sportEventId, description },
                url: "@Url.Action("RespondToNotification", "UserProfile")",
                success: function (data) {
                    console.log(data);
                    if (data == true) {
                        var acceptButton = parent.find('#approve-notify');
                        var rejectButton = parent.find('#reject-notify');
                        acceptButton.remove();
                        rejectButton.remove();
                    }
                }
            });
        }
    }); 


    window.onresize = function(event) {
        $('#notificationsContainer').css('left', $('#notifications').offset().left - 270);
    };
</script>